Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  portability-*,
  performance-*,
  readability-redundant-declaration,
  misc-unused-parameters

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: '.*/external/.*'

FormatStyle: file